.meetup-image
  display: block
  width: 100%

@media $display-breakpoints.xl-only
  .meetup--image
    height: 700px
@media $display-breakpoints.lg-only
  .meetup--image
    height: 600px
@media $display-breakpoints.md-only
  .meetup--image
    height: 500px
@media $display-breakpoints.sm-only
  .meetup--image
    height: 400px
@media $display-breakpoints.xs-only
  .meetup--image
    height: 300px

