@import "../../../node_modules/vuetify/src/stylus/settings/_colors.styl";

$theme := {
  primary: $red.darken-2
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}

@import "../../../node_modules/vuetify/src/stylus/main.styl";
